{{#if mensagemErro}}
  <div class="alert alert-danger" role="alert">
    {{mensagemErro}}
  </div>
{{/if}}

{{#if mensagemSucesso}}
  <div class="alert alert-success" role="alert">
    {{mensagemSucesso}}
  </div>
{{/if}}
